In [63]:
import numpy as np
import pandas as pd
import dash
import dash_core_components as dcc
import dash_html_components as html
import dash_bootstrap_components as dbc
import plotly.express as px
import dash_table
import datetime

In [98]:
buy_2018 = pd.read_csv('C://pythonworks/miniminiproject/data/buy_2018.csv',  encoding='euc-kr')
buy_2018 = buy_2018.iloc[:,1:]
buy_2018['date'] = pd.to_datetime(buy_2018['date'])
buy_2018['age'] = buy_2018['age'].astype('str')

In [142]:
weight = pd.read_csv('C://pythonworks/miniminiproject/data/pop_2018.csv',  encoding='euc-kr')

In [172]:
pop_sum_2018 = weight['총인구_여자(명)'].sum()

In [173]:
pop_sum_2018

18214337

In [170]:
weight['총인구_남자(명)']/pop_sum_2018

0     0.005796
1     0.004819
2     0.006176
3     0.007002
4     0.005196
5     0.049918
6     0.055872
7     0.061559
8     0.057193
9     0.033337
10    0.011808
11    0.013210
12    0.014971
13    0.015143
14    0.010245
15    0.009640
16    0.009446
17    0.010826
18    0.012163
19    0.009196
20    0.006029
21    0.005549
22    0.006614
23    0.006191
24    0.003708
25    0.009483
26    0.008693
27    0.010392
28    0.010975
29    0.007273
        ...
55    0.011171
56    0.012215
57    0.013175
58    0.013382
59    0.008103
60    0.005675
61    0.005681
62    0.007261
63    0.008257
64    0.006085
65    0.006622
66    0.005753
67    0.007442
68    0.007881
69    0.005817
70    0.002333
71    0.002499
72    0.003058
73    0.002827
74    0.001748
75    0.008290
76    0.008966
77    0.009484
78    0.009187
79    0.006351
80    0.006548
81    0.006080
82    0.006785
83    0.007212
84    0.004992
Name: 총인구_남자(명), Length: 85, dtype: float64

In [162]:
weight.loc[weight['행정구역별(읍면동)']=='서울특별시']

,Unnamed: 0,행정구역별(읍면동),연령별,총인구(명),총인구_남자(명),총인구_여자(명),가중치_남,가중치_여
40,40,서울특별시,20,1490977,725833,765144,0.019496,0.020551
41,41,서울특별시,30,1542820,776948,765872,0.020868,0.020571
42,42,서울특별시,40,1556709,775842,780867,0.020839,0.020974
43,43,서울특별시,50,1543618,748398,795220,0.020102,0.021359
44,44,서울특별시,60,1137430,538323,599107,0.014459,0.016092

In [167]:
weight.loc[weight.연령별==20,:]

,Unnamed: 0,행정구역별(읍면동),연령별,총인구(명),총인구_남자(명),총인구_여자(명),가중치_남,가중치_여
0,0,강원도,20,192236,110222,82014,0.002961,0.002203
5,5,경기도,20,1767281,949263,818018,0.025497,0.021972
10,10,경상남도,20,393322,224549,168773,0.006031,0.004533
15,15,경상북도,20,319936,183327,136609,0.004924,0.003669
20,20,광주광역시,20,218905,114641,104264,0.003079,0.002800
25,25,대구광역시,20,331747,180334,151413,0.004844,0.004067
30,30,대전광역시,20,236256,126722,109534,0.003404,0.002942
35,35,부산광역시,20,458036,241822,216214,0.006495,0.005807
40,40,서울특별시,20,1490977,725833,765144,0.019496,0.020551
45,45,세종특별자치시,20,38475,20433,18042,0.000549,0.000485
50,50,울산광역시,20,150027,86189,63838,0.002315,0.001715
55,55,인천광역시,20,402803,212428,190375,0.005706,0.005113
60,60,전라남도,20,189330,107911,81419,0.002898,0.002187
65,65,전라북도,20,228970,125921,103049,0.003382,0.002768
70,70,제주특별자치도,20,81493,44368,37125,0.001192,0.000997
75,75,충청남도,20,284008,157639,126369,0.004234,0.003394
80,80,충청북도,20,221164,124523,96641,0.003345,0.002596

In [155]:
weight

    Unnamed: 0 행정구역별(읍면동)  연령별   총인구(명)  총인구_남자(명)  총인구_여자(명)     가중치_남
0            0        강원도   20   192236     110222      82014  0.002961
1            1        강원도   30   175037      91649      83388  0.002462
2            2        강원도   40   227360     117451     109909  0.003155
3            3        강원도   50   262361     133155     129206  0.003576
4            4        강원도   60   199417      98808     100609  0.002654
5            5        경기도   20  1767281     949263     818018  0.025497
6            6        경기도   30  2030946    1062478     968468  0.028538
7            7        경기도   40  2293704    1170632    1123072  0.031443
8            8        경기도   50  2147857    1087599    1060258  0.029212
9            9        경기도   60  1283106     633954     649152  0.017028
10          10       경상남도   20   393322     224549     168773  0.006031
11          11       경상남도   30   466831     251214     215617  0.006747
12          12       경상남도   40   550000     284691     265309  0.007647
13          13       경상남도   50   567547     287956     279591  0.007734
14          14       경상남도   60   394171     194828     199343  0.005233
15          15       경상북도   20   319936     183327     136609  0.004924
16          16       경상북도   30   333462     179633     153829  0.004825
17          17       경상북도   40   394825     205873     188952  0.005530
18          18       경상북도   50   453939     231298     222641  0.006213
19          19       경상북도   60   354885     174866     180019  0.004697
20          20      광주광역시   20   218905     114641     104264  0.003079
21          21      광주광역시   30   207270     105520     101750  0.002834
22          22      광주광역시   40   250886     125769     125117  0.003378
23          23      광주광역시   50   236097     117735     118362  0.003162
24          24      광주광역시   60   146616      70504      76112  0.001894
25          25      대구광역시   20   331747     180334     151413  0.004844
26          26      대구광역시   30   320753     165318     155435  0.004440
27          27      대구광역시   40   400510     197625     202885  0.005308
28          28      대구광역시   50   426381     208700     217681  0.005606
29          29      대구광역시   60   289110     138305     150805  0.003715
..         ...        ...  ...      ...        ...        ...       ...
55          55      인천광역시   20   402803     212428     190375  0.005706
56          56      인천광역시   30   444337     232276     212061  0.006239
57          57      인천광역시   40   491934     250534     241400  0.006729
58          58      인천광역시   50   509853     254473     255380  0.006835
59          59      인천광역시   60   311370     154093     157277  0.004139
60          60       전라남도   20   189330     107911      81419  0.002898
61          61       전라남도   30   204184     108026      96158  0.002902
62          62       전라남도   40   259841     138087     121754  0.003709
63          63       전라남도   50   300842     157014     143828  0.004217
64          64       전라남도   60   232685     115713     116972  0.003108
65          65       전라북도   20   228970     125921     103049  0.003382
66          66       전라북도   30   211255     109393     101862  0.002938
67          67       전라북도   40   274585     141512     133073  0.003801
68          68       전라북도   50   294665     149859     144806  0.004025
69          69       전라북도   60   225494     110617     114877  0.002971
70          70    제주특별자치도   20    81493      44368      37125  0.001192
71          71    제주특별자치도   30    92177      47524      44653  0.001276
72          72    제주특별자치도   40   111753      58150      53603  0.001562
73          73    제주특별자치도   50   104112      53751      50361  0.001444
74          74    제주특별자치도   60    67387      33242      34145  0.000893
75          75       충청남도   20   284008     157639     126369  0.004234
76          76       충청남도   30   310940     170507     140433  0.004580
77          77       충청남도   40   336007     180351     155656  0.004844
78          78       충청남도   50   335591     174713     160878  0.004693
79          79       충청남도   60   243504     120774     122730  0.003244
80          80       충청북도   20   221164     124523      96641  0.003345
81          81       충청북도   30   215618     115623      99995  0.003106
82          82       충청북도   40   248803     129018     119785  0.003465
83          83       충청북도   50   268298     137148     131150  0.003684
84          84       충청북도   60   190219      94930      95289  0.002550

[85 rows x 7 columns]

In [171]:
weight['가중치_남'] = weight['총인구_남자(명)']/pop_sum_2018

In [174]:
weight['가중치_여'] = weight['총인구_여자(명)']/pop_sum_2018

In [175]:
weight[['가중치_남','가중치_여']].sum()

가중치_남    1.0
가중치_여    1.0
dtype: float64

In [176]:
weight = pd.read_csv()

,Unnamed: 0,행정구역별(읍면동),연령별,총인구(명),총인구_남자(명),총인구_여자(명),가중치_남,가중치_여
0,0,강원도,20,192236,110222,82014,0.005796,0.004503
1,1,강원도,30,175037,91649,83388,0.004819,0.004578
2,2,강원도,40,227360,117451,109909,0.006176,0.006034
3,3,강원도,50,262361,133155,129206,0.007002,0.007094
4,4,강원도,60,199417,98808,100609,0.005196,0.005524
5,5,경기도,20,1767281,949263,818018,0.049918,0.044911
6,6,경기도,30,2030946,1062478,968468,0.055872,0.053171
7,7,경기도,40,2293704,1170632,1123072,0.061559,0.061659
8,8,경기도,50,2147857,1087599,1060258,0.057193,0.058210
9,9,경기도,60,1283106,633954,649152,0.033337,0.035640
10,10,경상남도,20,393322,224549,168773,0.011808,0.009266
11,11,경상남도,30,466831,251214,215617,0.013210,0.011838
12,12,경상남도,40,550000,284691,265309,0.014971,0.014566
13,13,경상남도,50,567547,287956,279591,0.015143,0.015350
14,14,경상남도,60,394171,194828,199343,0.010245,0.010944
15,15,경상북도,20,319936,183327,136609,0.009640,0.007500
16,16,경상북도,30,333462,179633,153829,0.009446,0.008445
17,17,경상북도,40,394825,205873,188952,0.010826,0.010374
18,18,경상북도,50,453939,231298,222641,0.012163,0.012223
19,19,경상북도,60,354885,174866,180019,0.009196,0.009883
20,20,광주광역시,20,218905,114641,104264,0.006029,0.005724
21,21,광주광역시,30,207270,105520,101750,0.005549,0.005586
22,22,광주광역시,40,250886,125769,125117,0.006614,0.006869
23,23,광주광역시,50,236097,117735,118362,0.006191,0.006498
24,24,광주광역시,60,146616,70504,76112,0.003708,0.004179
25,25,대구광역시,20,331747,180334,151413,0.009483,0.008313
26,26,대구광역시,30,320753,165318,155435,0.008693,0.008534
27,27,대구광역시,40,400510,197625,202885,0.010392,0.011139
28,28,대구광역시,50,426381,208700,217681,0.010975,0.011951
29,29,대구광역시,60,289110,138305,150805,0.007273,0.008279
...,...,...,...,...,...,...,...,...
55,55,인천광역시,20,402803,212428,190375,0.011171,0.010452
56,56,인천광역시,30,444337,232276,212061,0.012215,0.011643
57,57,인천광역시,40,491934,250534,241400,0.013175,0.013253
58,58,인천광역시,50,509853,254473,255380,0.013382,0.014021
59,59,인천광역시,60,311370,154093,157277,0.008103,0.008635
60,60,전라남도,20,189330,107911,81419,0.005675,0.004470
61,61,전라남도,30,204184,108026,96158,0.005681,0.005279
62,62,전라남도,40,259841,138087,121754,0.007261,0.006685
63,63,전라남도,50,300842,157014,143828,0.008257,0.007896
64,64,전라남도,60,232685,115713,116972,0.006085,0.006422
65,65,전라북도,20,228970,125921,103049,0.006622,0.005658
66,66,전라북도,30,211255,109393,101862,0.005753,0.005592
67,67,전라북도,40,274585,141512,133073,0.007442,0.007306
68,68,전라북도,50,294665,149859,144806,0.007881,0.007950
69,69,전라북도,60,225494,110617,114877,0.005817,0.006307
70,70,제주특별자치도,20,81493,44368,37125,0.002333,0.002038
71,71,제주특별자치도,30,92177,47524,44653,0.002499,0.002452
72,72,제주특별자치도,40,111753,58150,53603,0.003058,0.002943
73,73,제주특별자치도,50,104112,53751,50361,0.002827,0.002765
74,74,제주특별자치도,60,67387,33242,34145,0.001748,0.001875
75,75,충청남도,20,284008,157639,126369,0.008290,0.006938
76,76,충청남도,30,310940,170507,140433,0.008966,0.007710
77,77,충청남도,40,336007,180351,155656,0.009484,0.008546
78,78,충청남도,50,335591,174713,160878,0.009187,0.008832
79,79,충청남도,60,243504,120774,122730,0.006351,0.006738
80,80,충청북도,20,221164,124523,96641,0.006548,0.005306
81,81,충청북도,30,215618,115623,99995,0.006080,0.005490
82,82,충청북도,40,248803,129018,119785,0.006785,0.006576
83,83,충청북도,50,268298,137148,131150,0.007212,0.007200
84,84,충청북도,60,190219,94930,95289,0.004992,0.005232

In [144]:
weight_2018 = pd.read_csv('C://pythonworks/miniminiproject/data/pop_2019.csv',  encoding='u')

UnicodeDecodeError: 'euc_kr' codec can't decode byte 0xc8 in position 3: illegal multibyte sequence

In [1]:
wheather

NameError: name 'wheather' is not defined

In [200]:
weight.loc[weight.연령별==20]['가중치_남'].shape

(17,)

In [183]:
weight['행정구역별(읍면동)'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [205]:
wheather.loc[wheather.일시 =='2018-01-01']['평균기온'].shape

(16,)

In [185]:
wheather.head()

,지점명,일시,평균기온,최저기온,최고기온,강수계속시간,일강수량,최대풍속,평균풍속,최소상대습도,...,가조시간,합계일조시간,합계일사량,일최심신적설,일최심적설,평균중하층운량,평균지면온도,합계대형증발량,합계소형증발량,안개계속시간
0,강원도,2018-01-01,-4.5,-10.5,3.4,NaN,NaN,3.6,1.0,20.0,...,9.6,8.0,10.90,NaN,NaN,NaN,-2.8,1.2,1.7,NaN
1,강원도,2018-01-02,-3.5,-9.4,3.5,NaN,NaN,4.2,1.2,23.0,...,9.6,7.8,9.22,NaN,NaN,NaN,-3.5,1.2,1.8,NaN
2,강원도,2018-01-03,-5.6,-10.6,0.9,NaN,NaN,2.6,0.9,30.0,...,9.6,8.0,9.75,NaN,NaN,NaN,-4.3,0.9,1.3,NaN
3,강원도,2018-01-04,-6.1,-11.7,-0.8,NaN,NaN,1.6,0.6,41.0,...,9.6,7.1,8.76,NaN,NaN,NaN,-4.5,0.7,0.9,NaN
4,강원도,2018-01-05,-4.2,-8.4,1.9,NaN,NaN,3.3,1.2,37.0,...,9.7,6.9,8.43,NaN,NaN,NaN,-3.7,0.9,1.3,NaN

In [ ]:
np.where((buy_2018.sex=='M')&(buy_2018.age==20), weight.loc[weight.연령별==20][weight.'가중치_남'],0) * np.where((buy_2018.date=='2018-01-01')&(wheather.일시 =='2018-01-01'),wheather.loc[wheather.일시 =='2018-01-01']['평균기온'],0)

In [181]:
wheather[['지점명','일시','평균기온']].지점명.unique()

array(['강원도', '서울특별시', '인천광역시', '경기도', '충청북도', '대전광역시', '경상북도', '대구광역시',
       '전라북도', '울산광역시', '경상남도', '광주광역시', '부산광역시', '전라남도', '제주특별자치도',
       '충청남도', '세종특별자치시'], dtype=object)

In [186]:
if (weight['행정구역별(읍면동)'] == wheather.지점명) & (buy_2018_1.sex == 'M') :
    a = weight.가중치_남 * wheater.평균기온
    print(wheather.지점명,buy_2018_1.sex,a)

ValueError: Can only compare identically-labeled Series objects

In [184]:
buy_2018_1

            date sex  age         sm_pr  quant  year month day
0       20180101   F   20           가공란     37  2018    01  01
1       20180101   F   30           가공란     16  2018    01  01
2       20180101   F   40           가공란      9  2018    01  01
3       20180101   F   50           가공란      3  2018    01  01
4       20180101   M   20           가공란     13  2018    01  01
5       20180101   M   30           가공란      6  2018    01  01
6       20180101   M   40           가공란      6  2018    01  01
7       20180101   F   20           가자미      3  2018    01  01
8       20180101   F   30           가자미      5  2018    01  01
9       20180101   F   40           가자미      4  2018    01  01
10      20180101   F   50           가자미      2  2018    01  01
11      20180101   M   30           가자미      2  2018    01  01
12      20180101   M   40           가자미      1  2018    01  01
13      20180101   M   50           가자미      3  2018    01  01
14      20180101   M   60           가자미      1  2018    01  01
15      20180101   F   20  갈비/찜/바비큐용 돈육      7  2018    01  01
16      20180101   F   30  갈비/찜/바비큐용 돈육      4  2018    01  01
17      20180101   F   40  갈비/찜/바비큐용 돈육      2  2018    01  01
18      20180101   F   50  갈비/찜/바비큐용 돈육      1  2018    01  01
19      20180101   M   30  갈비/찜/바비큐용 돈육      7  2018    01  01
20      20180101   M   40  갈비/찜/바비큐용 돈육      1  2018    01  01
21      20180101   F   20        갈비용 우육      1  2018    01  01
22      20180101   F   40        갈비용 우육      1  2018    01  01
23      20180101   F   20            갈치      2  2018    01  01
24      20180101   F   30            갈치     17  2018    01  01
25      20180101   F   40            갈치      8  2018    01  01
26      20180101   F   50            갈치      4  2018    01  01
27      20180101   F   60            갈치      4  2018    01  01
28      20180101   M   30            갈치      3  2018    01  01
29      20180101   M   40            갈치      1  2018    01  01
...          ...  ..  ...           ...    ...   ...   ...  ..
297304  20180630   M   20            홍차      1  2018    06  30
297305  20180630   M   30            홍차      3  2018    06  30
297306  20180630   M   40            홍차      3  2018    06  30
297307  20180630   F   20           환자식      2  2018    06  30
297308  20180630   F   30           환자식      2  2018    06  30
297309  20180630   F   40           환자식      6  2018    06  30
297310  20180630   F   50           환자식      7  2018    06  30
297311  20180630   F   60           환자식      1  2018    06  30
297312  20180630   M   40           환자식      1  2018    06  30
297313  20180630   M   60           환자식      1  2018    06  30
297314  20180630   F   20             회    245  2018    06  30
297315  20180630   F   30             회    361  2018    06  30
297316  20180630   F   40             회    192  2018    06  30
297317  20180630   F   50             회     77  2018    06  30
297318  20180630   F   60             회     23  2018    06  30
297319  20180630   M   20             회    124  2018    06  30
297320  20180630   M   30             회    174  2018    06  30
297321  20180630   M   40             회    113  2018    06  30
297322  20180630   M   50             회     40  2018    06  30
297323  20180630   M   60             회     15  2018    06  30
297324  20180630   F   20           흰우유     30  2018    06  30
297325  20180630   F   30           흰우유    185  2018    06  30
297326  20180630   F   40           흰우유    106  2018    06  30
297327  20180630   F   50           흰우유     27  2018    06  30
297328  20180630   F   60           흰우유      2  2018    06  30
297329  20180630   M   20           흰우유     11  2018    06  30
297330  20180630   M   30           흰우유     72  2018    06  30
297331  20180630   M   40           흰우유     49  2018    06  30
297332  20180630   M   50           흰우유      9  2018    06  30
297333  20180630   M   60           흰우유      5  2018    06  30

[297334 rows x 8 columns]

In [136]:
wheather = wheather.fillna(0)
wheather.iloc[625:628,:] = (21.2+17.9)/2
wheather.iloc[625:628,:]

,지점명,일시,평균기온,최저기온,최고기온,강수계속시간,일강수량,최대풍속,평균풍속,최소상대습도,...,가조시간,합계일조시간,합계일사량,일최심신적설,일최심적설,평균중하층운량,평균지면온도,합계대형증발량,합계소형증발량,안개계속시간
625,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55,...,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55
626,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55,...,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55
627,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55,...,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55,19.55

In [94]:
sm = buy_2018_1.sm_pr.unique()

sm_cat_pie = dcc.Graph(
    id = 'sm_cat_pie',
    figure = px.pie(pivit_df,values = 'quant',names = 'pie_name')

)

month_pie = dcc.Graph(
    id = 'month_pie',
    figure = px.pie(buy_2018_1,values = 'quant',names = 'month')

)
sm_cat_bar = dcc.Graph(
    id = 'sm_cat_bar',
    figure = px.bar(pivit_df,x ='quant',y = 'pie_name')
)

In [95]:
app = dash.Dash(external_stylesheets=[dbc.themes.GRID])
app.layout = html.Div(
    [
    html.H1(),
    sm_cat_pie,
    sm_cat_bar,
    month_pie
    
    ]
)
app.run_server(host = '192.168.0.65',port = '80')

Dash is running on http://192.168.0.65:80/

Dash is running on http://192.168.0.65:80/

Dash is running on http://192.168.0.65:80/

Dash is running on http://192.168.0.65:80/

Dash is running on http://192.168.0.65:80/

Dash is running on http://192.168.0.65:80/

Dash is running on http://192.168.0.65:80/

Dash is running on http://192.168.0.65:80/

Dash is running on http://192.168.0.65:80/

Dash is running on http://192.168.0.65:80/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://192.168.0.65:80/ (Press CTRL+C to quit)
192.168.0.65 - - [26/May/2021 12:05:00] "GET / HTTP/1.1" 200 -
192.168.0.65 - - [26/May/2021 12:05:00] "GET /_dash-dependencies HTTP/1.1" 200 -
192.168.0.65 - - [26/May/2021 12:05:00] "GET /_favicon.ico?v=1.20.0 HTTP/1.1" 200 -
192.168.0.65 - - [26/May/2021 12:05:00] "GET /_dash-layout HTTP/1.1" 200 -
192.168.0.124 - - [26/May/2021 12:16:31] "GET / HTTP/1.1" 200 -
192.168.0.124 - - [26/May/2021 12:16:31] "GET /_dash-component-suites/dash_renderer/polyfill@7.v1_9_1m1620779612.8.7.min.js HTTP/1.1" 200 -
192.168.0.124 - - [26/May/2021 12:16:31] "GET /_dash-component-suites/dash_renderer/react@16.v1_9_1m1620779612.14.0.min.js HTTP/1.1" 200 -
192.168.0.124 - - [26/May/2021 12:16:31] "GET /_dash-component-suites/dash_renderer/prop-types@15.v1_9_1m1620779612.7.2.min.js HTTP/1.1" 200 -
192.168.0.124 - - [26/May/2021 12:16:31] "GET /_dash-component-suites/dash_renderer/react-dom@16.v1_9_1m1620779612.14.0.min.js HTTP/1.1" 200 -
192.168.0.124 - - [26/May/2021 12:16:31] "GET /_dash-component-suites/dash_html_components/dash_html_components.v1_1_3m1620779631.min.js HTTP/1.1" 200 -
192.168.0.124 - - [26/May/2021 12:16:31] "GET /_dash-component-suites/dash_bootstrap_components/_components/dash_bootstrap_components.v0_12_2m1621236078.min.js HTTP/1.1" 200 -
192.168.0.124 - - [26/May/2021 12:16:31] "GET /_dash-component-suites/dash_core_components/dash_core_components.v1_16_0m1620779624.min.js HTTP/1.1" 200 -
192.168.0.124 - - [26/May/2021 12:16:31] "GET /_dash-component-suites/dash_core_components/dash_core_components-shared.v1_16_0m1620779624.js HTTP/1.1" 200 -
192.168.0.124 - - [26/May/2021 12:16:33] "GET /_dash-component-suites/dash_renderer/dash_renderer.v1_9_1m1620779612.min.js HTTP/1.1" 200 -
192.168.0.124 - - [26/May/2021 12:16:33] "GET /_dash-component-suites/dash_table/bundle.v4_11_3m1620779636.js HTTP/1.1" 200 -
192.168.0.124 - - [26/May/2021 12:16:33] "GET /_dash-dependencies HTTP/1.1" 200 -
192.168.0.124 - - [26/May/2021 12:16:34] "GET /_dash-layout HTTP/1.1" 200 -
192.168.0.124 - - [26/May/2021 12:16:34] "GET /_dash-component-suites/dash_core_components/async-graph.v1_16_0m1617903285.js HTTP/1.1" 200 -
192.168.0.124 - - [26/May/2021 12:16:34] "GET /_dash-component-suites/dash_core_components/async-plotlyjs.v1_16_0m1617903285.js HTTP/1.1" 200 -